:root{
  --color-accent: oklch(80.609% 0.12369 201.598);
  --muted-color: #666;
  --text-color: #222;
  color-scheme: light dark;
}
body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 0.5em;
  accent-color: var(--color-accent);
  nav {
    --border-color: oklch(50% 10% 200 / 40%);
    display: flex;
    margin-bottom: 1em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
    a {
      flex: 1;
      text-decoration: none;
      color: inherit;
      text-align: center;
      padding: 0.5em; 
    }
    a.current {
      border-bottom-width: 0.4em;
      border-bottom-style: solid;
      border-bottom-color: var(--border-color);
      padding-bottom: 5.4px;
    }
    a:hover {
        border-bottom-width: 0.4em;
        border-bottom-style: solid;
        border-bottom-color: var(--color-accent);
        padding-bottom: 5.4px;
      }
  }
  label.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font: inherit;
    font-size: 80%;
  }
  form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
  }
  label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }
  input {
    font: inherit;
  }
  textarea {
    font: inherit;
  }
  button {
    font: inherit;
    grid-column: 1 / -1;
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    article {
      grid-template-rows: subgrid;
      grid-row: span 3;
      gap: 1em;
      h2 {
        margin: 0;
      }
    }
  }
  img {
    max-width: 500px;
    height: auto;
  }
  h1 {
    font-size: 4em;
    line-height: 1.1;
    text-wrap: balance;
  }
  h2 {
    font-size: 1.5em;
    line-height: 1.1;
    text-wrap: balance;
  }
  h3 {
    font-size: 1.1em;
    color: var(--text-color);
    line-height: 1.1;
    text-wrap: balance;
  }
  section {
    max-width: 800px;
    width: 100%;
    margin-bottom: 2rem;
  }
  hr {
    border: none;
    border-top: 1px solid var(--color-accent);
    margin: 2rem 0;
  }
  ul {
  margin: 0.5em 0 1.5em 1.5em;
  }
  li {
    margin-bottom: 0.4em;
  }
  time {
    color: var(--muted-color);
    font-size: 0.95em;
  }
  #projects-plot {
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;
  }
  .container {
    display: flex;
  }
  .legend {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
    gap: 1em;
    border: 1px solid var(--muted-color);
    border-radius: 0.5em;
  }
  .item {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  .swatch {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: var(--color);
    border-radius: 50%;
  }
  &:has(path:hover) {
    path:not(:hover) {
      opacity: 0.5;
    }
  }
  path {
    transition: 300ms;
    cursor: pointer;
  }
  .selected {
    --color: oklch(60% 45% 0) !important;

    &:is(path) {
      fill: var(--color);
    }
  }
  .item-selected{
    --color: oklch(60% 45% 0) !important;
    
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  .stats {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto auto;           
    grid-auto-columns: minmax(120px, 1fr);                          
    margin: 1rem;
  }
  .stats dt {
    font-size: 0.8rem;
    text-transform: uppercase;
    opacity: 0.7;
  }
  .stats dd {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .gridlines line {
    opacity: 0.15;
  }
  dl.info {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.25rem 0.75rem;
    margin: 1rem 0;
    transition-duration: 500ms;
    transition-property: opacity, visibility;
  }
  .tooltip {
    position: fixed;
    top: 1em;
    left: 1em;
  }
  circle {
    transition: 200ms;
    transform-origin: center;
    transform-box: fill-box;
    @starting-style {
      r: 0;
    }
  }
  circle:hover {
    transform: scale(1.5);
  }
  dl.info[hidden]:not(:hover, :focus-within) {
    opacity: 0;
    visibility: hidden;
  }
  @keyframes marching-ants {
    to {
      stroke-dashoffset: -8; /* 5 + 3 */
    }
  }
  .selection {
    fill-opacity: 0.1;
    stroke: black;
    stroke-opacity: 0.7;
    stroke-dasharray: 5 3;
    animation: marching-ants 2s linear infinite;
  }
  circle.selected {
    fill: #ff6b6b;
  }
  .slider {
    display: flex;
    align-items: baseline;
    flex: 1;
  }
  .slider time {
    margin-left: auto;
  }
  #files {
    display: grid;
    grid-template-columns: 1fr 4fr;

    > div {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: subgrid;
    }

    dt {
      grid-column: 1;
      small {
        display: block;
        font-size: 0.8em;
        opacity: 0.7;
      }
    }

    dd {
      grid-column: 2;
      display: flex;
      flex-wrap: wrap;
      align-items: start;
      align-content: start;
      gap: 0.15em;
      padding-top: 0.6em;
      margin-left: 0;
    }
  }
  .loc {
    display: flex;
    width: 0.5em;
    aspect-ratio: 1;
    background: var(--color, steelblue);
    border-radius: 50%;
  }
}